$primary: #bcf05d;
$secondary: #f38339;
$text-dark: #3d3d3d;
$text-light: #fff;
$title: #80c601;
$title-dark: #769e02;
$primary-button: #9cbd32;
$secondary-button: #d9e07b;
$neutral-button: #4f4f4f;
$bg-footer: #202420;
$bg: #fff;
$bg-dark: rgb(33, 41, 38);
$bg-light: #f2f3da;
$transparent: rgba(0, 0, 0, 0);
