@import 'variables';
* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  background-color: #f2f3da;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --primary: #{$primary};
  --secondary: #{$secondary};
  --text-dark: #{$text-dark};
  --text-light: #{$text-light};
  --text-darker: #656565;
  --title: #{$title};
  --title-dark: #{$title-dark};
  --text-footer: #000;
  --primary-button: #{$primary-button};
  --secondary-button: #{$secondary-button};
  --neutral-button: #{$neutral-button};
  --bg-footer: #{$bg-footer};
  --bg: #{$bg};
  --bg-dark: #{$bg-dark};
  --bg-light: #{$bg-light};
  --bg-navBorder: #dbdbdb;
  --transparent: #{$transparent};
}
a {
  color: inherit;
  text-decoration: none;
}
button,
a.btn,
input[type='submit'],
input[type='button'] {
  padding: 15px 25px;
  border: none;
  background-color: #9cbd32;
  font-weight: 700;
  color: white;
  font-family: 'Fuzzy Bubbles', cursive;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
}
// Header & nav
header.navigation {
  display: grid;
  top: 0;
  grid-template-columns: 200px 1fr 200px;
  font-family: 'Fuzzy Bubbles', cursive;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  padding: 0 5%;
  color: white;
  height: 60px;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.7);
  transition: background-color 0.7s;
  &.hidden {
    background-color: var(--transparent);
  }
  .whitespace {
    position: absolute;
  }
  .logoWrapper {
    height: 100%;
    display: inline-flex;
    align-items: center;
  }
  nav {
    display: flex;
    justify-content: center;
    max-width: 1440px;
    a {
      position: relative;
      font-weight: 600;
      font-size: 1rem;
      text-transform: uppercase;
      transition: color 0.6s;
      &:not(:last-child) {
        margin-right: 24px;
      }
      &.active,
      &:hover {
        color: var(--primary);
        &::before {
          width: 100%;
        }
      }
      &::before {
        content: '';
        width: 0;
        height: 2px;
        background-color: var(--primary);
        position: absolute;
        left: 0;
        bottom: -2px;
        transition: width 0.5s;
      }
    }
  }
  .icons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8px;
    .iconLink {
      display: inline-flex;
      align-items: center;
      width: 29px;
      &:first-of-type {
        justify-self: flex-end;
      }
      svg > path {
        transition: fill 0.6s;
      }
      &:hover {
        svg > path {
          fill: var(--primary);
        }
      }
    }
    .burger {
      position: relative;
      background-color: var(--transparent);
      width: 29px;
      height: 29px;
      padding: 0;
      display: none;
      &.active {
        span {
          left: 0;
          transform: rotate(45deg) translate(7.5px, 4px);
          &:first-of-type {
            opacity: 0;
            transform: rotate(0deg) translate(0, 0);
          }
          &:last-of-type {
            transform: rotate(-45deg) translate(9.5px, -6px);
          }
        }
      }
      span {
        position: absolute;
        display: block;
        width: 27px;
        height: 2.5px;
        border-radius: 25px;
        left: 2px;
        top: 5px;
        background-color: white;
        transition: all 0.5s;
        &:first-of-type {
          top: 15px;
        }
        &:last-of-type {
          bottom: 2px;
          top: auto;
        }
      }
    }
  }
}
// Footer
footer {
  position: relative;
  padding: 2rem 5% 1rem 5%;
  width: 100%;
  background-color: var(--bg-footer);
  color: var(--text-footer);
  margin: 0 auto;
  font-size: 0.9rem;
  svg path {
    fill: var(--text-footer);
  }
  .footerWrapper {
    max-width: 1440px;
    display: flex;
    flex: 1;
    align-items: flex-start;
    justify-content: center;
    margin: 20px auto 30px auto;
    & > div {
      justify-self: center;
    }
    .footerLogoWrapper {
      display: flex;
      width: 25%;
      flex-direction: column;
      align-items: flex-start;
      margin-right: 10%;
      .logo {
        width: 180px;
        margin: 0 auto;
      }
      .footerSocialIcons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-top: 15px;
        a:not(:last-of-type) {
          margin-right: 6px;
        }
      }
    }
    .footerMenuWrapper {
      width: 40%;
      margin: 0 auto;
      display: inline-flex;
      flex-direction: column;
      color: var(--text-footer);
      h4 {
        margin-top: 0;
        text-transform: uppercase;
      }
      p {
        padding: 0;
        margin: 0;
      }
      &.footerQuickLinks {
        width: 25%;
        a {
          margin-bottom: 10px;
        }
      }
      &.footerOpeningHours {
        p {
          margin-bottom: 10px;
        }
      }
      &.footerContact {
        min-width: 230px;
        a {
          display: inline-flex;
          align-items: flex-start;
          margin-bottom: 10px;
          p,
          address {
            margin-left: 10px;
          }
        }
      }
    }
  }
  .footerCreditsWrapper {
    text-align: center;
    font-size: 1rem;
    border-top: 1px solid #a7a7a7;
  }
  a:hover {
    color: #164d4d;
    span {
      filter: opacity(0.5) drop-shadow(0 0 0 #164d4d);
    }
  }
}

@media (max-width: 900px) {
  header.navigation {
    display: flex;
    .logoWrapper {
      width: 180px;
      margin-right: 20px;
    }
    nav {
      position: absolute;
      flex-direction: column;
      width: 80%;
      height: 200vh;
      top: 0;
      right: 0;
      color: var(--text-dark);
      background-color: var(--bg);
      text-align: right;
      justify-content: flex-start;
      padding-top: 60px;
      transition: transform 0.7s ease-in-out;
      z-index: 2;
      &::after {
        content: '';
        width: 100%;
        position: absolute;
        height: 1px;
        background-color: var(--bg-navBorder);
      }
      & + .whitespace {
        position: absolute;
        width: 100vw;
        height: 200vh;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 1;
        opacity: 1;
        pointer-events: all;
        transition: opacity 1s;
      }
      &.hidden {
        transform: translateX(105%);
        & + .whitespace {
          opacity: 0;
          pointer-events: none;
        }
      }
      a {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        font-size: 1rem;
        font-weight: 700;
        transition: color 0.6s;
        height: 40px;
        margin: 10px 0;
        padding-right: 24px;
        &:not(:last-child) {
          margin-right: 0;
        }
        &.active,
        &:hover {
          color: var(--primary);
          &::before {
            width: 80%;
          }
        }
        &::before {
          content: '';
          width: 0;
          height: 100%;
          background-color: rgba(188, 240, 93, 0.35);
          position: absolute;
          border-radius: 50px 0 0 50px;
          right: 0;
          left: auto;
          bottom: -2px;
          transition: width 0.5s;
        }
      }
    }
    .icons {
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 15px;
      z-index: 3;
      .burger {
        display: block;
        &:hover span {
          background-color: var(--primary);
        }
        span {
          background-color: #fff;
        }
      }
    }
    nav:not(.hidden) {
      & ~ .icons {
        .burger span {
          background-color: black;
        }
        svg > path {
          fill: black;
        }
      }
    }
  }
  footer {
    .footerWrapper {
      justify-content: center;
      flex-direction: column;
      text-align: center;
      margin-bottom: 0;
      .footerLogoWrapper {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
      }
      .footerMenuWrapper {
        width: 100%;
        margin-bottom: 30px;
      }
      .footerContact {
        a {
          justify-content: center;
        }
        address {
          text-align: left;
        }
      }
    }
    .footerCreditsWrapper {
      font-size: 0.75rem;
    }
  }
}
// Sweetalert2
div {
  .swal2-styled.swal2-default-outline:focus,
  .swal2-styled.swal2-confirm:focus {
    box-shadow: 0 0 0 3px #dde49e;
  }
}
