.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--bg-light);
  font-family: 'Be Vietnam Pro', sans-serif;
  .hero {
    color: white;
    position: relative;
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    background-color: var(--bg-dark);
    background: linear-gradient(230deg, #b5c144 19%, #d1dd62 104%);
    .heroWrapper {
      display: block;
      position: relative;
      z-index: 2;
      margin: 0 auto;
      .titleWrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 20px;
        font-weight: 700;
        span:first-of-type {
          margin-bottom: 20px !important;
        }
        h2 {
          padding: 0;
          margin: 0;
          text-align: center;
          font-family: 'Coiny', cursive;
          font-weight: 400;
        }
        p {
          margin-top: 10px;
          font-size: 1.4rem;
          a {
            position: relative;
            color: var(--primary);
            &::after {
              content: '';
              width: 100%;
              height: 2px;
              background-color: var(--primary);
              position: absolute;
              left: 0;
              bottom: 0;
            }
          }
        }
      }
    }
    .heroWave {
      position: absolute;
      bottom: -15px;
      left: 0;
      width: 100%;
    }
  }
}
.title {
  font-family: 'Pacifico', cursive;
  text-align: center;
  color: #303030;
}
.buttonWrapper {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
  a {
    position: relative;
    display: inline-block;
    padding: 15px 50px;
    margin: 6px;
    &.secondaryBtn {
      background-color: var(--secondary-button);
    }
    &:hover::before {
      transform: translate(-6px, -6px);
    }
    &::before {
      content: '';
      position: absolute;
      display: inline-block;
      width: 100%;
      height: 100%;
      top: 6px;
      left: 6px;
      z-index: -1;
      transition: 0.25s transform cubic-bezier(0, 0, 0.88, 1.92);
      background-color: var(--secondary-button);
    }
  }
}
.section {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 5%;
  min-height: 200px;
  background-color: var(--bg-light);
  margin: 100px auto;
  letter-spacing: 1px;
  &:last-of-type {
    margin-bottom: 0;
  }
}
// Section 1
.gridWrapper {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 90%;
    max-width: 720px;
    margin: 0 auto;
    margin-bottom: 0;
    grid-gap: 10px;
    & > div {
      position: relative;
      padding: 20px;
      border-radius: 15px;
      background-color: white;
      z-index: 1;
      overflow: hidden;
      &.welcomeText {
        display: flex;
        flex-direction: column;
        padding-bottom: 14px;
        .buttonWrapper {
          height: 50px;
          display: block;
          margin-bottom: 15px;
          a {
            padding: 15px 35px;
            margin: 0;
          }
        }
      }
      &.hashtagText {
        p {
          &:first-of-type {
            margin-bottom: 4px;
          }
          &:last-of-type {
            margin-top: 0;
          }
        }
      }
      .hashtagIconBg,
      .mapIconBg {
        position: absolute;
        width: 170px;
        height: 170px;
        background-size: 100% 100%;
        z-index: -1;
        opacity: 0.1;
        bottom: 0;
        right: 0;
        transform: rotate(-15deg) translate(5%, 40%);
      }
      .mapIconBg {
        background-image: url('/images/map.svg');
      }
      .hashtagIconBg {
        background-image: url('/images/hashtag.svg');
      }
      h2 {
        margin-top: 0;
      }
      &:first-of-type {
        grid-row: span 2;
      }
    }
  }
}
.menuWrapper {
  min-height: initial;
  margin: 50px auto;
  & > div {
    position: relative;
    border-radius: 20px;
    background-color: white;
    padding: 40px 20px;
    padding-top: 20px;
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
    .title {
      position: relative;
      z-index: 1;
    }
    .bubbles {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 0;
      border-radius: 20px;
      overflow: hidden;
    }
    .bubble {
      position: absolute;
      bottom: -100px;
      width: 40px;
      height: 40px;
      background: #c6ff91;
      border-radius: 50%;
      opacity: 0.4;
      animation: rise 10s infinite ease-in;
    }
    .bubble:nth-child(1) {
      width: 40px;
      height: 40px;
      left: 10%;
      animation-duration: 8s;
    }
    .bubble:nth-child(2) {
      width: 20px;
      height: 20px;
      left: 20%;
      animation-duration: 5s;
      animation-delay: 1s;
    }
    .bubble:nth-child(3) {
      width: 50px;
      height: 50px;
      left: 35%;
      animation-duration: 7s;
      animation-delay: 2s;
    }
    .bubble:nth-child(4) {
      width: 80px;
      height: 80px;
      left: 50%;
      animation-duration: 11s;
      animation-delay: 0s;
    }
    .bubble:nth-child(5) {
      width: 35px;
      height: 35px;
      left: 55%;
      animation-duration: 6s;
      animation-delay: 1s;
    }
    .bubble:nth-child(6) {
      width: 45px;
      height: 45px;
      left: 65%;
      animation-duration: 8s;
      animation-delay: 3s;
    }
    .bubble:nth-child(7) {
      width: 90px;
      height: 90px;
      left: 70%;
      animation-duration: 12s;
      animation-delay: 2s;
    }
    .bubble:nth-child(8) {
      width: 25px;
      height: 25px;
      left: 80%;
      animation-duration: 6s;
      animation-delay: 2s;
    }
    .bubble:nth-child(9) {
      width: 15px;
      height: 15px;
      left: 70%;
      animation-duration: 5s;
      animation-delay: 1s;
    }
    .bubble:nth-child(10) {
      width: 90px;
      height: 90px;
      left: 25%;
      animation-duration: 10s;
      animation-delay: 4s;
    }
  }
}
@keyframes rise {
  0% {
    bottom: -100px;
    transform: translateX(0);
  }
  50% {
    transform: translate(100px);
  }
  100% {
    bottom: 1080px;
    transform: translateX(-200px);
  }
}
// Section 3
.galleryWrapper {
  margin-bottom: 0;
  padding-bottom: 50px;
  .title {
    z-index: 2;
    &::before {
      content: '';
      background: url('/images/titlebg.svg');
      position: absolute;
      left: 0;
      top: -30px;
      width: 100%;
      height: 140px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 0 0;
      z-index: -1;
    }
  }
  .gallery {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    grid-gap: 15px;
    z-index: 2;
    .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .galleryWave,
  .galleryTitleWave {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
  }
  .galleryTitleWave {
    position: absolute;
    width: 100%;
    bottom: initial;
    top: 45px;
    left: 0;
  }
}

// Map
.map {
  margin-top: 0;
  background-color: #f4eea9;
  padding-bottom: 50px;
  .googleMap {
    width: 90%;
    max-width: 1440px;
    background-color: white;
    height: 300px;
    margin: 0 auto;
  }
}
// Section 2
.selectionWrapper {
  max-width: 1080px;
}
@media (max-width: 900px) {
  .main {
    .heroWrapper {
      .titleWrapper {
        zoom: 0.85;
      }
    }
    .section:not(.galleryWrapper):not(.map) {
      margin-bottom: 40px;
      margin-top: 60px;
      &.menuWrapper {
        margin-top: 20px;
        margin-bottom: 10px;
      }
    }
    .hero .heroWave {
      bottom: 0;
    }
    .gridWrapper {
      .grid {
        grid-template-columns: 1fr;
      }
    }
    .galleryWrapper {
      .gallery {
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
      }
    }
  }
  .map {
    .googleMap {
      width: 100%;
    }
  }
}
