.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--bg-light);
  font-family: 'Be Vietnam Pro', sans-serif;
  .title {
    font-size: 1.7rem;
  }
  .menuGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    ul {
      width: 100%;
      min-height: 200px;
      list-style: none;
      color: #fff;
      text-align: left;
      padding: 10px 0;
      margin: 0 auto;
      color: black;
      .menuTitle {
        border-top: 1px solid #496648;
        border-bottom: 1px solid #496648;
        color: #496648;
        padding: 12px 0;
        margin: 0 0 20px 0;
        font-size: 20px;
      }
      .menuItem {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .menuInfo {
          font-size: 0.75rem;
          .menuName {
            color: #496648;
            font-size: 0.9rem;
          }
        }
        .menuPrice {
          color: #496648;
        }
      }
      span,
      p {
        display: block;
        font-size: 0.85rem;
        margin-top: 5px;
      }
    }
  }
}
.title {
  font-family: 'Pacifico', cursive;
  text-align: center;
  color: #303030;
}
.section {
  position: relative;
  width: 100%;
  min-height: 200px;
  background-color: var(--bg-light);
  letter-spacing: 1px;
}
.mapWave {
  background-color: var(--bg-light);
  min-height: initial;
  margin-top: 200px;
  height: 150px;
  svg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
