.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--bg-light);
  font-family: 'Be Vietnam Pro', sans-serif;
  .title {
    font-size: 1.7rem;
  }
  .allergiesWrapper {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px 30px 30px;
    background-color: white;
    border-radius: 0 0 10px 10px;
    div {
      padding: 30px;
      border: 1px solid #496648;
      color: #496648;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      font-size: 0.8rem;
      margin-bottom: 10px;
      border-radius: 5px;
      span {
        margin: 2px 20px;
      }
    }
  }
  .menuGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 30px;
    padding-bottom: 50px;
    background-color: white;
    border-radius: 10px 10px 0 0;
    ul {
      width: 100%;
      min-height: 200px;
      list-style: none;
      color: #fff;
      text-align: left;
      padding: 10px 0;
      margin: 0 auto;
      color: black;
      .menuTitle {
        border-top: 1px solid #496648;
        border-bottom: 1px solid #496648;
        color: #496648;
        padding: 12px 0;
        margin: 0 0 20px 0;
        font-size: 20px;
      }
      .menuItem {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .menuInfo {
          font-size: 0.75rem;
          .menuName {
            color: #496648;
            font-size: 0.9rem;
          }
        }
        .menuPrice {
          color: #496648;
        }
      }
      span,
      p {
        display: block;
        font-size: 0.85rem;
        margin-top: 5px;
      }
    }
  }
}
.title {
  font-family: 'Pacifico', cursive;
  text-align: center;
  color: #303030;
}
.section {
  position: relative;
  width: 100%;
  min-height: 200px;
  background-color: var(--bg-light);
  letter-spacing: 1px;
}
.mapWave {
  background-color: var(--bg-light);
  min-height: initial;
  margin-top: 200px;
  height: 150px;
  svg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
.menuImageWrapper {
  width: 90%;
  max-width: 1080px;
  padding: 10px;
  margin: 0 auto;
  margin-top: 30px;
  p {
    text-align: center;
  }
  & > span {
    border-radius: 10px;
  }
  .buttonWrapper {
    z-index: 1;
    margin: 30px auto;
    max-width: 400px;
    .btn {
      position: relative;
      display: inline-block;
      padding: 15px 50px;
      width: 100%;
      text-align: center;
      &:hover::before {
        transform: translate(-6px, -6px);
      }
      &:before {
        content: '';
        position: absolute;
        display: inline-block;
        width: 100%;
        height: 100%;
        top: 6px;
        left: 6px;
        z-index: -1;
        transition: 0.25s transform cubic-bezier(0, 0, 0.88, 1.92);
        background-color: var(--secondary-button);
      }
    }
  }
}
// TODO:
.menuGrid,
.allergiesWrapper {
  display: none !important;
}
@media (max-width: 900px) {
  .main {
    .menuGrid {
      grid-template-columns: 1fr;
    }
    .allergiesWrapper {
      & > div {
        padding: 10px;
      }
    }
  }
}
