.header {
  color: white;
  position: relative;
  display: flex;
  height: 300px;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-dark);
  background: linear-gradient(230deg, #b5c144 19%, #d1dd62 104%);
  .title {
    font-family: 'Coiny', cursive;
    font-weight: 500;
    position: relative;
    top: -20px;
    font-size: 2.5rem;
    color: white;
  }
  .headerWave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
